 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello!  My name is Tomoko Kwan.</p>
					<p>
					Video games have always been an interest of mine, particularly ones that involve innovative gameplay that challenges players in a fun and rewarding way. I personally enjoy games that have indepth character customization, tactical gameplay, and a bit of quirky humor doesn't hurt.
					</p>
                </div>
                <div class="col-lg-4">
                    <p>My career experience as a software engineer has allow me to build strong understanding of software development fundamentals, architecture, and design. A seasoned software engineer with 10 years of programming experience including major companies such as Microsoft and NBC Universal, it is my desire to apply my skills into the game development industry. It would be a dream come true to develop the types of games that I've cherished since childhood.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>